# Default for all
* text=auto

*.csv diff=text eol=lf
*.json diff=text eol=lf
*.tsv diff=text eol=lf
*.xml diff=text eol=lf

*.md diff=markdown eol=lf
*.sh diff=sh eol=lf


# lfs
*.sql filter=lfs diff=lfs merge=lfs -text

*.zip filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text


# Git attributes
.gitignore text eol=lf
.gitattributes text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore